.row1{
    display: grid;
    grid-template-columns:5% 75% 5% 5% 5%;
    margin-left: 5%;
}
.row2{
    position: relative;
}
.row2 img{
    width: 100%;
}
.relative{ position: relative;
}
.row2 .text {
    position: absolute;
    top: 170px;
    left: 50px;
}

