.row1 div{
    display: inline;
}   
.right{
    float: right;
}
.row2{
    position: relative;
}
.row2 img{
    width: 100%;
}
.relative{ position: relative;
}
.text {
    position: absolute;
    top: 170px;
    left: 50px;
}
.text-2 {
    position: absolute;
    top: 100px;
}
.roW4 img{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: 100%;
}
.roW4 div{
    padding: 100px;
}

    






