.row1 div{
    display: inline;
}   
.right{
    float: right;
}
.row2{
    position: relative;
}
.row2 img{
    width: 100%;
}
.relative{ position: relative;
}
.text {
    position: absolute;
    top: 170px;
    left: 50px;
}
.text-2 {
    position: absolute;
    top: 100px;
    
}
.row4 {
    display: grid;
    grid-template-columns: 32% 32% 32%;
        width: 100%;
}
    
.row4 div{  
    padding: 10px;
    

}
.row4 div img{
    padding-top: 10px;
}
.row4 .anh-2 img{
width: 400px;
height: 350px;
}
.row4{
    margin-left: 2%;
}

.text-3 {
    position: absolute;
     top: 100px;
}
.text-3 .h3 {
    display:grid;
    grid-template-columns: 30% 30% 30%;
   



}


